pip install jupyterlab

To Run notebook in VSCode- jupyter labb

In [ ]:
s='this is a text'

b='another line'

s+ b

print(b)

In [ ]:
a=10
b=20
print(a + b)

In [ ]:
###class and type

x= 10
print(type(x))

x= 'test'
print(type(x))

x= True
print(type(x))

In [ ]:
### type conversion

x =10
y= "10"
z = x + int(y)
print(z)

### string conversion
z = str(10) + y
print(z)

In [ ]:
## Control statements
num= input('enter a number')
#input returns a str

num= int(num)

if num>0:
    print(num, 'positive number')
elif num==0:
    print(num, 'is zero')
else:
    print(num, 'negative')

In [2]:
### number of keywords in python

import keyword
print(keyword.kwlist)
print(' total count- ',len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
 total count-  35

In [ ]:
#assignment

mth = input('enter a month between 1-12:')
if mth.isnumeric():
    mthnum= int(mth)
else:
    print('enter numeric value')

if mthnum>=1 and mthnum <=3:
    print('First quarter')
elif mthnum>=4 and mthnum <=6:
    print('second quarter')
elif mthnum>=7 and mthnum <=9:
    print('third quarter')
elif mthnum>=7 and mthnum <=9:
    print('fourth quarter')
else :
    print('enter valid number')

In [ ]:

mth = input('enter a month between 1-12:')
if mth.isnumeric():
    mthnum= int(mth)
else:
    print('enter numeric value')


if mthnum in (1,2,3):
    print('First quarter')
elif mthnum in (4,5,6):
    print('second quarter')
elif mthnum in (7,8,9):
    print('third quarter')
elif mthnum in (10,11,12):
    print('fourth quarter')
else :
    print('enter valid number')

In [ ]:

mth = input('enter a month between 1-12:')
if mth.isnumeric():
    mth = int(mth)
    match mth:
        case 1|2|3:
            print('first Q')
        case 4|5|6:
            print('second Q')
        case 7|8|9:
            print('thrid Q')
        case 10|11|12:
            print('Fourth q')
        case _:
            print('default')
else:
    print('enter numeric value')

In [ ]:
### iterative statements

for i in range(5):  #from 0 to stop-1 
    print(i)
print('##################')
for i in range(1,10,2): #from start to stop-1, skip 2 
    print(i)
print('##################')

for i in range(5,1,-1): #reverse loop, skip 2 
    print(i, end='')
print('reverse loop ends')

mylist=[10,20,30]
for i in mylist:
    print(i, end='\t')  #print in same line after a gap of a tab

s1= 'I like Python'
for ch in s1:
    if ch== 't':
        break
    print(ch, end='') #break iteration and print horizontally

In [ ]:
# working with function

def add(a,b):
    sum =a+b
    return sum

a=10
b=20
result =add(a,b)
print('result: {}'.format(result))
print('sum of %d and %d = %d' %(a,b,result))
print(f'Sum of {a} and {b} is {result}')   #formatted string-F

Variable scope

In [ ]:
a=10
def myfunc():
    global b    #make this local variable global
    b=20
    print('........func begin...........')
    print(f'print a= {a}')
    print(f'print b= {b}')
    print('........func end...........')

b=30
print('a=',a)
print('b=',b)
myfunc()
print('a=',a)
print('b=',b)

# Module and File seperation

In [ ]:
%%writefile myhello.py
def say_hello(name):
    print(f'hello- {name}')

# call a code from other module

In [ ]:
import myhello
myhello.say_hello('x')
myhello.say_hello('y')

In [ ]:
%%writefile myhello2.py
def say_hello(name):
    print(f'hello-2 {name}')

In [ ]:
from myhello import say_hello  #from file myhello import say_hello member
from myhello2 import say_hello as s2 #import a member
myhello.say_hello('x')
s2('y')

# Mutable and Immutables
## immutable
- int, string, float, tuple, frozen

## mutable
- list, set, dict

In [ ]:
#string is immutable
s1='hello'
print(id(s1))  #memory address

s1= s1+ 'world'
print(id(s1))

# Working with List
- ordered
- mutable
- can have hetrogenous elements
- can be sliced

In [ ]:
list1=[]
list2= list()
print(len(list1))
print(len(list2))
print('.................')

list1=[1,2,3,4,5]
print(list1[3])
list2=list1   # point to list 1
list2[3]=100   # override a index
print(list2)

#add/remove
list1=[1,2, 44.11122, True, 'Python']
print(list1)
list1.remove(2)
print(list1)

In [ ]:
list1=[1,2,False, 44.11122, True, 'Python']

#iterate on a list
for ele in list1:
    if  type(ele) in (int, float):
        print(f'intg-{ele}')

In [ ]:
#second last element
print(list1[-1])

#slice a list
list2=list1[2:5] #from second index, till 5th index
print(list2)

list2=list1[2:] #from second index,till last
print(list2)

In [ ]:
fruits=['apple', 'banana','apple', 'cherry', 'pineapple', 'blackberry']
print(fruits)

#find count and index
fruit_to_search='apple'
if fruit_to_search in fruits:
    count= fruits.count(fruit_to_search)
    print('number of apples', count)
    appleIndex=[]
    
    for i in range (0, len(fruits)):
        if fruits[i] == fruit_to_search:
            appleIndex.append(i)
    print('index of fruits', appleIndex)
else:
    print(fruit_to_search, 'not found')

# List compression

In [ ]:
list1=[1,2,3,4,5,6]
list2=[]

for ele in list1:
    list2.append(ele*2)

print(list1)
print(list2)

list2 =[ele*2 for ele in list1]  #shortcut
print(list2)

# Enumerator

In [ ]:
for ele in enumerate(fruits):
    print(ele)

In [ ]:
fruits=['apple', 'banana','apple', 'cherry', 'pineapple', 'blackberry']
fruit_search='apple'

if fruit_search in fruits:
    for ele in fruits:   # here ele is the element, not index
        print(ele)
        #print(fruits[ele])   this will error out, since index should be a int
else:
    print('fruit not found')

print('.................')

if fruit_search in fruits:
    for ele in enumerate(fruits):   # here ele has index and element
        print(ele)
else:
    print('fruit not found')

# Working with Tuples
- tuple is immutable
- get element by index
- can iterate
- list is mutable
- since tuple does not have methods to change it, it is faster and lightweight

In [1]:
tuple1=()
tuple2= tuple()
print (len(tuple1))
print(type(tuple1))
print (len(tuple2))
print('..................................')

tuple1=(1)
print(type(tuple1))
tuple1=(1,2,3,4,5)
print(type(tuple1))

0
<class 'tuple'>
0
..................................
<class 'int'>
<class 'tuple'>

In [ ]:
tuple1 =(1,2,3,(4,5,6))
previous= tuple[0:3]
print(f'previous- {previous}')
newTuple=tuple(tuple1[3])
print(newTuple)
anothertuple = tuple(newTuple)

# Working with set
- un-ordered list
- does not gurante the order or newly added element
- mutable
- can be a hetrogenous
- can be sliced
- BUT does NOT allow DUPLICATE

- list---> []
- tuple--> ()
- set --> {}   set cannot be empty
- dictonary --> {}

In [ ]:
set1={1}
print(set1)
print(type(set1))
set2={4,77,33,5,1,3,4}
print(set2)  # will not print duplicate, will print unordered list

set2.add('one more hetro element')
print(set2)
set2.remove(3)  #remove by element, not index
print(set2)
set2.discard(3)  #if element not exist 'remove' raises error so use 'discard'
print(set2)
set2.add(4)  #add a duplicate, but will not get added, no error
print(set2)

set2.update((10,1,3,20,30))
print(set2)

# Frozenset is immutable

In [ ]:
set1={4,77,33,5,1,3,4}
print(set1) 
myfrozenset= frozenset(set1)
print(myfrozenset)
#myfrozenset.add(2) # will throw error

# Remove duplicate from a list

In [ ]:
list1=[1,2,3,4,5,3,2,1]
print(list1)

list1=list(set(list1)) #remove duplicate
print(list1)

# Write a function which takes str as para , display the word and their frequency

In [ ]:
def duplicateCheck(sentence):
    print(f'you entered- {sentence}')
    word_list= sentence.split()
    print(f'word_list -{word_list}')        
    unique_words=set(word_list)
    print(f'unique word - {unique_words}')  

    for word in unique_words:
        print(word, '--', word_list.count(word))


data ='I like Python . Python is unique.'
duplicateCheck(data)

# Working with Dictionary
- un-ordered till python 3.6
- key-value pair
- key need to be unique and immitable
- value can be mutable

In [ ]:
dict1={}
print(type(dict1))

In [ ]:
dict1={'key1':'someval',"Age":123, "phone":1111222333}
print(dict1)
print(dict1['Age'])
dict1["newkey3"]=456   #add a new KV
print(dict1)
print(dict1.get('newkey'))   # if key does not exits, no exception, return none

print(dict1.get('newkey', 'my default return value'))   # if key does not exits, no exception, return none

print(dict1.keys())   # get all keys
print(dict1.values())   # all values
print(f'all tuples in dict - {dict1.items()}')   # each item is a tuple in a dictionary

# Tuple unpacking

In [ ]:
tuple1=(10,20,30)
a,b,c=tuple1
print(a)
print(b)

In [ ]:
dict1={'key1':'someval',"Age":123, "phone":1111222333}
for key,value in dict1.items(): #each item is a tuple
    print(key,'--',value)

In [ ]:
#positional parameters
def sum (a,b,c=0):
    sum=a+b+c
    return sum


print(sum(3,33,3))
print(sum(22,2))

# variable number of arguments

In [ ]:
def sum (a,b, *myargs):
    sum=a+b
    for ele in myargs:
        sum+=sum +ele
    
    return sum


print(sum(3,33,3))
print(sum(22,2))
print(sum(22,2,6,7,8,4,3,))
mytuple=(1,3,65,7,4)
print(sum(2,4,*mytuple))  # pass a tuple pointer

In [ ]:
#make it more simple
def add (a,b, *myargs):
    result=a+b + sum(myargs)    
    return result

print(add(1,2,6,7,8,4,3))

* - single star means multiple values as parameters
** - key value args-kwargs

In [ ]:
def demo(**kwargs):
    for key,value in kwargs.items():
        print(key,'--', value)



demo(x=1,y=2,z=3)
mydict1={'k1':123, 'key2':222}
demo(x=1,y=2,z=3, **mydict1)