### Intermediate Python
- by Rahul

#### Python review

In [ ]:
s = 'I Like Python'
s

In [ ]:
a = 10
b = 20
print(a)
print(b)

#### Dynamic language but still importance to types

In [ ]:
x = 10
print(type(x))

x = 'Python'
print(type(x))

x = False
print(type(x))

x = [1,2,3]
print(type(x))

In [ ]:
x = 10
y = 'A'
z = x + int(y)
z

In [ ]:
str(x) + y

In [ ]:
x = 10
y = 'A'
z = x + int(y)
z

#### Control statements

In [ ]:
num = int(input('Enter a number: '))

if num > 0:
    print(num, 'is positive')
elif num < 0:
    print(num, 'is negative')
else:
    print(num, 'is Zero')

In [10]:
import keyword

print(len(keyword.kwlist))
print(keyword.kwlist)

35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    if month == 1 or month == 2 or month == 3:
        print('First Quarter')
    elif month == 4 or month == 5 or month == 6:
        print('Second Quarter')
    elif month == 7 or month == 8 or month == 9:
        print('Third Quarter')
    elif month == 10 or month == 11 or month == 12:
        print('Fourth Quarter')
    else:
        print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    if month in (1,2,3):
        print('First Quarter')    
    elif month in (4,5,6):
        print('Second Quarter')
    elif month in (7,8,9):
        print('Third Quarter')
    elif month in (10,11,13):
        print('Fourth Quarter')
    else:
        print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    match  month:
        case 1 | 2 | 3:
            print('First Quarter') 
        case 4 | 5 | 5:
            print('Second Quarter') 
        case 7 | 8 | 9:
            print('Third Quarter') 
        case 10 | 11 | 12:
            print('Fourt Quarter')     
        case _:    
            print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

#### Iterative statements

In [ ]:
#for i in range(10): # from 0 to stop-1
#for i in range(1,11): # from start to stop-1
#for i in range(1,11,3):

for i in range(10,0,-1):
    print(i, end='  ')

#### Iterable objects
- string
- list
- set
- tuple
- dict

In [ ]:
list1 = [10, 20, 30]

for ele in list1:
    print(ele)

In [ ]:
len(list1)

In [ ]:
s1 = 'I Like Python'

for ch in s1:
    print(ch, end='')

In [ ]:
s1 = 'I Like Python'

for ch in s1:    
    if ch == 't':
        break

    print(ch, end='')

In [ ]:
s1 = 'I Like Python'

for ch in s1:    
    if ch == 't':
        continue

    print(ch, end='')

#### while loop

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
i = 1

while i < 11:
    print(i)
    i += 1

#### Working with functions

In [ ]:
def add(a, b):
    sum = a + b
    return sum

#-----------------------
num1 = 10
num2 = 20
result = add(num1, num2)

print('Sum of', num1, 'and', num2, '=', result)

print('Sum of {} and {} = {}'.format(num1, num2, result))

print('Sum of %d and %d = %d' % (num1, num2, result))

print(f'Sum of {num1} and {num2} = {result}')

#### Variable scope

In [1]:
a = 10

def func():
    global b
    b = 20
    print('---Begin function-------')
    
    print('a = ', a)
    print('b = ', b)
    
    print('---End function-------')

#---------------------------------------------


func()
print('a = ', a)
print('b = ', b)

---Begin function-------
a =  10
b =  20
---End function-------
a =  10
b =  20

In [2]:
a = 100

In [3]:
a

100

In [6]:
%%writefile hello.py
def say_hello(name):
    print(f'Hello {name}')

Overwriting hello.py

In [11]:
import hello

hello.say_hello('John')
hello.say_hello('Sam')
hello.say_hello('Mat')

Hello John
Hello Sam
Hello Mat

In [13]:
from hello import say_hello

say_hello('A')
say_hello('B')
say_hello('C')

Hello A
Hello B
Hello C

In [14]:
from hello import *

say_hello('X')
say_hello('Y')
say_hello('Z')

Hello X
Hello Y
Hello Z

In [19]:
from hello import say_hello as s1
from hello2 import say_hello as s2

s2('John')

Hello-2 John

#### Types in Python
Immutable
- int, float, bool, str, tuple, frozenset

Mutable
- list, set, dict

In [21]:
# string is immutable

s1 = 'Hello'

print(id(s1))

s1 = s1 + 'World'

print(id(s1))

140146327618736
140146329262256

#### Working with lists
- Ordered (items can be accessed through index)
- Mutable
- Can have heterogenous elements
- Can be sliced

In [22]:
list1 = []
list2 = list()

print(len(list1))
print(len(list2))

0
0

In [29]:
list1 = [1, 3, 5, 7, 9, 11, 13]
print(len(list1))

7

In [25]:
list1[2]

5

In [26]:
print(list1)
list1[2] = 100
print(list1)

[1, 3, 5, 7, 9, 11, 13]
[1, 3, 100, 7, 9, 11, 13]

In [30]:
print(id(list1))
list1.remove(9)
print(id(list1))

140146478700352
140146478700352

In [36]:
list1 = [1, 3.1415, False, 'Python', 100]

list1

[1, 3.1415, False, 'Python', 100]

In [32]:
for ele in list1:
    print(ele)

1
3.1415
False
Python

In [37]:
for ele in list1:
    if type(ele) in (int,float):
        print(ele)

1
3.1415
100

In [38]:
list1 = [1, 3, 5, 7, 9, 11, 13]

list1[0]

1

In [39]:
list1[ len(list1)-1 ] # last element

13

In [43]:
list1[-1] # last element

13

In [42]:
list1[-2] # second last element

11

In [44]:
list1

[1, 3, 5, 7, 9, 11, 13]

In [45]:
list2 = list1[2:6] # 2,3,4,5
list2

[5, 7, 9, 11]

In [46]:
list1[2:] # from 2 till the last index

[5, 7, 9, 11, 13]

In [47]:
list1[:6] # from 0 till stop-1

[1, 3, 5, 7, 9, 11]

In [52]:
fruits = ['apple', 'banana', 'apple', 'cherry', 'pineapple']

'apple' in fruits

True

In [53]:
fruits.count('apple')

2

In [73]:
fruit_to_search = 'apple'

if fruit_to_search in fruits:
    count = fruits.count('apple')
    print(fruit_to_search, 'occurs', count, 'time(s)')
    indices = []
    for i in range(0, len(fruits)):
        if fruits[i] == fruit_to_search:
            indices.append(i)
    print(fruit_to_search, 'occurs at', indices)
else:
    print(fruit_to_search, 'does not exist')

apple occurs 2 time(s)
apple occurs at [0, 2]

In [74]:
if fruit_to_search in fruits:
    count = fruits.count('apple')
    print(fruit_to_search, 'occurs', count, 'time(s)')
    indices = [i for i,ele in enumerate(fruits) if ele == fruit_to_search]
    print(fruit_to_search, 'occurs at', indices)
else:
    print(fruit_to_search, 'does not exist')

apple occurs 2 time(s)
apple occurs at [0, 2]

#### List comprehension

In [67]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = []

for ele in list1:
    if ele % 2 == 0:
        list2.append(ele ** 2)
    
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 16, 36, 64, 100]

In [66]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list2 = [ele ** 2 for ele in list1 if ele % 2 == 0]

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 16, 36, 64, 100]

In [76]:
fruits

['apple', 'banana', 'apple', 'cherry', 'pineapple']

In [77]:
for i,ele in enumerate(fruits):
    print(i, '-->', ele)

0 --> apple
1 --> banana
2 --> apple
3 --> cherry
4 --> pineapple